@use '../base/variables' as *;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-bg;
    z-index: $z-modal + 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease, visibility 0.8s ease;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .loader-content {
        text-align: center;
        color: $color-accent-primary;
        font-family: $font-family-mono;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */

        .cursor {
            display: inline-block;
            width: 10px;
            height: 1.2em;
            background-color: $color-accent-primary;
            animation: blink 1s step-end infinite;
            vertical-align: text-bottom;
            margin-left: 5px;
        }
    }
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}